<configuration>
	<paths>
		<using namespace="Bacularis.API.Modules.BaculumAPIServer" />
	</paths>
	<modules>
		<!-- auth modules -->
		<module id="oauth2" class="Bacularis\API\Modules\OAuth2\BaculumOAuth2" />
		<module id="oauth2_config" class="Bacularis\API\Modules\OAuth2\OAuth2Config" />
		<module id="oauth2_authid" class="Bacularis\API\Modules\OAuth2\AuthIdManager" />
		<module id="oauth2_token" class="Bacularis\API\Modules\OAuth2\TokenManager" />
		<!-- config modules -->
		<module id="api_config" class="Bacularis\API\Modules\APIConfig" />
	</modules>
</configuration>
