<configuration>
	<paths>
		<using namespace="Bacularis.API.Modules.BaculumAPIServer" />
	</paths>
	<modules>
		<!-- OAuth2 - only to be compatible with old OAuth2 endpoints -->
		<!-- Remove it in the future but keep oauth2_token (it is used in this service to remove old tokens) -->
		<module id="oauth2" class="Bacularis\API\Modules\OAuth2\BaculumOAuth2" />
		<module id="oauth2_config" class="Bacularis\API\Modules\OAuth2\OAuth2Config" />
		<module id="oauth2_authid" class="Bacularis\API\Modules\OAuth2\AuthIdManager" />
		<module id="oauth2_token" class="Bacularis\API\Modules\OAuth2\TokenManager" />

		<!-- Basic user config -->
		<module id="basic_apiuser" class="Bacularis\API\Modules\BasicAPIUserConfig" />
		<module id="basic_config" class="Bacularis\API\Modules\BasicConfig" />

		<!-- API Server modules -->
		<module id="api_server_v1" class="Bacularis\API\Modules\APIServerV1" />
		<module id="api_server_v2" class="Bacularis\API\Modules\APIServerV2" />

		<!-- database modules -->
		<module id="db" class="Bacularis\API\Modules\Database" />
		<module id="client" class="Bacularis\API\Modules\ClientManager" />
		<module id="fileset" class="Bacularis\API\Modules\FileSetManager" />
		<module id="job" class="Bacularis\API\Modules\JobManager" />
		<module id="joblog" class="Bacularis\API\Modules\LogManager" />
		<module id="pool" class="Bacularis\API\Modules\PoolManager" />
		<module id="storage" class="Bacularis\API\Modules\StorageManager" />
		<module id="version" class="Bacularis\API\Modules\VersionManager" />
		<module id="volume" class="Bacularis\API\Modules\VolumeManager" />
		<!-- tools modules -->
		<module id="bconsole" class="Bacularis\API\Modules\Bconsole" />
		<module id="json_tools" class="Bacularis\API\Modules\JSONTools" />
		<module id="bvfs" class="Bacularis\API\Modules\BVFS" />
		<module id="blstat" class="Bacularis\API\Modules\BLStat" />
		<!-- config modules -->
		<module id="api_config" class="Bacularis\API\Modules\APIConfig" />
		<module id="bacula_config" class="Bacularis\API\Modules\BaculaConfig" />
		<module id="bacula_setting" class="Bacularis\API\Modules\BaculaSetting" />
		<module id="device_config" class="Bacularis\API\Modules\DeviceConfig" />
		<!-- logging modules -->
		<module id="log" class="System\Util\TLogRouter">
			<route class="TFileLogRoute"  Categories="Execute, External, Application, General, Security" LogPath="Bacularis\API\Logs" LogFile="bacularis-api.log" MaxFileSize="1000" MaxLogFiles="5" />
		</module>
		<!-- component status modules -->
		<module id="status_dir" class="Bacularis\API\Modules\StatusDirector" />
		<module id="status_sd" class="Bacularis\API\Modules\StatusStorage" />
		<module id="status_fd" class="Bacularis\API\Modules\StatusClient" />
		<!-- component actions modules -->
		<module id="comp_actions" class="Bacularis\API\Modules\ComponentActions" />
		<!-- bconsole command modules -->
		<module id="ls" class="Bacularis\API\Modules\Ls" />
		<module id="list" class="Bacularis\API\Modules\BList" />
		<!-- changer command modules -->
		<module id="changer_command" class="Bacularis\API\Modules\ChangerCommand" />
	</modules>
</configuration>
