<configuration>
	<paths>
		<using namespace="Application.API.Class.BaculumAPIServer" />
	</paths>
	<modules>
		<!-- OAuth2 - only to be compatible with old OAuth2 endpoints -->
		<!-- Remove it in the future but keep oauth2_token (it is used in this service to remove old tokens) -->
		<module id="oauth2" class="Application.API.Class.OAuth2.BaculumOAuth2" />
		<module id="oauth2_config" class="Application.API.Class.OAuth2.OAuth2Config" />
		<module id="oauth2_authid" class="Application.API.Class.OAuth2.AuthIdManager" />
		<module id="oauth2_token" class="Application.API.Class.OAuth2.TokenManager" />

		<!-- Basic user config -->
		<module id="basic_apiuser" class="Application.API.Class.BasicAPIUserConfig" />
		<module id="basic_config" class="Application.API.Class.BasicConfig" />

		<!-- API Server modules -->
		<module id="api_server_v1" class="Application.API.Class.APIServerV1" />
		<module id="api_server_v2" class="Application.API.Class.APIServerV2" />

		<!-- database modules -->
		<module id="db" class="Application.API.Class.Database" />
		<module id="client" class="Application.API.Class.ClientManager" />
		<module id="fileset" class="Application.API.Class.FileSetManager" />
		<module id="job" class="Application.API.Class.JobManager" />
		<module id="joblog" class="Application.API.Class.LogManager" />
		<module id="pool" class="Application.API.Class.PoolManager" />
		<module id="storage" class="Application.API.Class.StorageManager" />
		<module id="version" class="Application.API.Class.VersionManager" />
		<module id="volume" class="Application.API.Class.VolumeManager" />
		<!-- tools modules -->
		<module id="bconsole" class="Application.API.Class.Bconsole" />
		<module id="json_tools" class="Application.API.Class.JSONTools" />
		<module id="bvfs" class="Application.API.Class.BVFS" />
		<module id="blstat" class="Application.API.Class.BLStat" />
		<!-- config modules -->
		<module id="api_config" class="Application.API.Class.APIConfig" />
		<module id="bacula_config" class="Application.API.Class.BaculaConfig" />
		<module id="bacula_setting" class="Application.API.Class.BaculaSetting" />
		<module id="device_config" class="Application.API.Class.DeviceConfig" />
		<!-- logging modules -->
		<module id="log" class="System.Util.TLogRouter">
			<route class="TFileLogRoute"  Categories="Execute, External, Application, General, Security" LogPath="Application.API.Logs" LogFile="baculum-api.log" MaxFileSize="1000" MaxLogFiles="5" />
		</module>
		<!-- component status modules -->
		<module id="status_dir" class="Application.API.Class.StatusDirector" />
		<module id="status_sd" class="Application.API.Class.StatusStorage" />
		<module id="status_fd" class="Application.API.Class.StatusClient" />
		<!-- component actions modules -->
		<module id="comp_actions" class="Application.API.Class.ComponentActions" />
		<!-- bconsole command modules -->
		<module id="ls" class="Application.API.Class.Ls" />
		<module id="list" class="Application.API.Class.BList" />
		<!-- changer command modules -->
		<module id="changer_command" class="Application.API.Class.ChangerCommand" />
	</modules>
</configuration>
