<configuration>
	<paths>
		<using namespace="System.I18N.*" />
		<using namespace="Bacularis\API\Modules\BaculumAPIPage" />
	</paths>
	<modules>
		<!-- Web config modules -->
		<module id="web_config" class="Bacularis\Web\Modules\WebConfig" />
		<module id="user_config" class="Bacularis\Web\Modules\WebUserConfig" />>
		<module id="basic_webuser" class="Bacularis\Web\Modules\BasicWebUserConfig" />
		<module id="osprofile_config" class="Bacularis\Web\Modules\OSProfileConfig" />
		<module id="deploy_api" class="Bacularis\Web\Modules\DeployAPIHost" />

		<!-- database modules -->
		<module id="db" class="Bacularis\API\Modules\Database" />
		<!-- tools modules -->
		<module id="bconsole" class="Bacularis\API\Modules\Bconsole" />
		<module id="json_tools" class="Bacularis\API\Modules\JSONTools" />
		<!-- config modules -->
		<module id="api_config" class="Bacularis\API\Modules\APIConfig" />
		<module id="device_config" class="Bacularis\API\Modules\DeviceConfig" />
		<module id="bacula_setting" class="Bacularis\API\Modules\BaculaSetting" />
		<module id="plugin_config" class="Bacularis\API\Modules\PluginConfig" />
		<!-- internalization modules -->
		<module id="globalization" class="TGlobalization">
			<translation type="gettext" source="Application.API.Lang" marker="" autosave="false" cache="false" DefaultCulture="en" />
		</module>
		<!-- logging modules -->
		<module id="log" class="System\Util\TLogRouter">
			<route class="Bacularis\Common\Modules\BFileLogRoute"  Categories="Execute, External, Application, General, Security" LogPath="Bacularis\API\Logs" LogFile="bacularis-api.log" MaxFileSize="1000" MaxLogFiles="5" />
		</module>
		<!-- auth modules -->
		<module id="basic_apiuser" class="Bacularis\API\Modules\BasicAPIUserConfig" />
		<module id="basic_config" class="Bacularis\API\Modules\BasicConfig" />
		<module id="oauth2_config" class="Bacularis\API\Modules\OAuth2\OAuth2Config" />
		<!-- component actions modules -->
		<module id="comp_actions" class="Bacularis\API\Modules\ComponentActions" />
		<!-- changer command modules -->
		<module id="changer_command" class="Bacularis\API\Modules\ChangerCommand" />
		<!-- software management modules -->
		<module id="software_mgmt" class="Bacularis\API\Modules\SoftwareManagement" />
	</modules>
</configuration>
